<% include ../partials/header %>

<div class="container">
    <div class="card">
        <form method="POST" action="/homework/<%=h._id%>?_method=PUT">
            <div class="row"></div>
            <div class="container">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input name="homework[title]" id="homeworkTitle" type="text" class="validate" value="<%=h.title%>">
                        <label class="active" for="homeworkTitle">Homework Title</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[date]" id="homeworkDate" type="text" class="datepicker" value="<%=h.date%>">
                        <label class="active" for="homeworkDate">Deadline</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[subject]" id="homeworkSubject" type="text" class="validate" value="<%=h.subject%>">
                        <label class="active" for="homeworkSubject">Subject</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[author]" id="homeworkAuthor" type="text" class="validate" value="<%=h.author%>">
                        <label class="active" for="homeworAuthor">Author</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="homework[description]" id="homeworkDescription" type="text" class="validate" value="<%=h.description%>">
                        <label class="active" for="homeworkDescription">Description</label>
                    </div>
                    <button class="btn waves-effect waves-light col s6 push-s3 m4 push-m4" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                </div>
                <div class="row"></div>
            </div>
        </form>
    </div>
</div>

<% include ../partials/footer %>