<% include ../partials/header %>

<div class="container">
    <div class="card">
        <form method="POST" action="/schools/<%=school._id%>/classes/<%=clas._id%>/homework/<%=clas._id%>?_method=PUT" id="form">
            <div class="row"></div>
            <div class="container">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <input name="homework[title]" id="homeworkTitle" type="text" class="validate" value="<%=h.title%>" maxlength="40">
                        <label class="active" for="homeworkTitle">Homework Title</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[date]" id="homeworkDate" type="text" class="datepicker" value="<%=h.date%>">
                        <label class="active" for="homeworkDate">Deadline</label>
                    </div>
                    <div class="input-field col s12">
                        <select  name="homework[subject]" id="homeworkSubject" placeholder="Maths" value="<%=h.subject%>" maxlength="20">
                            <option disabled selected>Choose a subject</option>
                            <option value="Maths">Maths</option>
                            <option value="Physics">Physics</option>
                            <option value="English">English</option>
                            <option value="Physical Education">Physical Education</option>
                            <option value="Science">Science</option>
                            <option value="Art">Art</option>
                            <option value="Music">Music</option>
                            <option value="Geography">Geography</option>
                            <option value="History">History</option>
                            <option value="Other">Other</option>
                        </select>
                        <label>Subject</label>
                    </div>
                    <div class="input-field col s12">
                        <input name="homework[description]" id="homeworkDescription" type="text" class="validate" value="<%=h.description%>" maxlength="300">
                        <label class="active" for="homeworkDescription">Description</label>
                    </div>
                </div>
            </div>
        </form>
        <div class="row">
            <button class="btn waves-effect waves-light col s6 push-s3 m4 push-m4" name="action" id="btn-submit" onclick="formConfig()">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        <div class="row"></div>
    </div>
</div>

<% include ../partials/footer %>