<% include ../partials/header %>

<div class="container">
    <% include ../partials/flash %>
    <div class="card">
        <form method="POST" action="/classes/<%=h.class_id%>/homework/<%=h.id%>?_method=PUT" id="form">
            <div class="row"></div>
            <div class="container">
                <div class="row no-m">
                    <div class="input-field col s12 m6">
                        <input name="homework[title]" id="homeworkTitle" type="text" class="validate" value="<%=h.title%>" maxlength="40">
                        <label class="active" for="homeworkTitle"><%= texts.TITLE %></label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[date]" id="homeworkDate" type="text" class="datepicker" value="<%=h.date%>">
                        <label class="active" for="homeworkDate"><%= texts.DEADLINE %></label>
                    </div>
                    <div class="input-field col s8">
                        <select name="homework[subject]" id="homeworkSubject">
                            <option value="" disabled selected><%= texts.CHOOSE_SUBJECT %></option>
                            <option value="Maths"><%= texts.Maths %></option>
                            <option value="Language Arts"><%= texts["Language Arts"] %></option>
                            <option value="Foreign Language 1"><%= texts["Foreign Language 1"] %></option>
                            <option value="Foreign Language 2"><%= texts["Foreign Language 2"] %></option>
                            <option value="Foreign Language 3"><%= texts["Foreign Language 3"] %></option>
                            <option value="Physics"><%= texts.Physics %></option>
                            <option value="Politics"><%= texts.Politics %></option>
                            <option value="Science"><%= texts.Science %></option>
                            <option value="Art"><%= texts.Art %></option>
                            <option value="Music"><%= texts.Music %></option>
                            <option value="Geography"><%= texts.Geography %></option>
                            <option value="History"><%= texts.History %></option>
                            <option value="Biology"><%= texts.Biology %></option>
                            <option value="Physical Education"><%= texts["Physical Education"] %></option>
                            <option value="Philosophy"><%= texts.Philosophy %></option>
                            <option value="Ethics"><%= texts.Ethics %></option>
                            <option value="Chemistry"><%= texts.Chemistry %></option>
                            <option value="Religion"><%= texts.Religion %></option>
                            <option value="Other"><%= texts.Other %></option>
                        </select>
                        <label><%= texts.SUBJECT %></label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled value=" " name="homework[subjectName]" id="subjectName" type="text" class="validate">
                        <label for="disabled"><%= texts.SUBJECT_NAME %></label>
                    </div>
                    <div class="input-field col s12">
                        <%console.log(h.description)%>
                        <textarea name="homework[description]" id="homeworkDescription" class="materialize-textarea" maxlength="500"><%=h.description%></textarea>
                        <label class="active" for="homeworkDescription"><%= texts.TASK %></label>
                    </div>
                </div>
            </div>
        </form>
        <div class="row center">
            <button class="blue btn waves-effect waves-light" name="action" id="btn-submit" onclick="formConfig()"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
        </div>
        <div class="row"></div>
    </div>
</div>

<% include ../partials/footer %>