<% include ../partials/header %>
<% let color%>

<div iclass="row">
    <div class="col s12">
        <ul class="tabs" id="tabs">
            <div class="col s2"></div>
            <li class="tab col s4"><a class="active" href="/schools/<%=school._id%>/classes/<%=clas._id%>/homework">Homework</a></li>
            <li class="tab col s4"><a>Exams</a></li>
            <div class="col s2"></div>
        </ul>
    </div>
</div>

<div class="container">
    <div class="row">
        <% clas.homework.forEach(h => {%>
        <!-- Get the color -->
        <% switch(h.subject) { case "Maths": %>
            <% color="yellow accent-1"; %>
            <% break; %>
        <% case "Physics": %>
            <% color="blue-grey lighten-1"; %>
            <% break; %>
        <% case "English": %>
            <% color="red accent-2"; %>
            <% break; %>
        <% case "Physical Education": %>
            <% color="green accent-3"; %>
            <% break; %>
        <% case "Science": %>
            <% color="grey lighten-1"; %>
            <% break; %>
        <% case "Art": %>
            <% color="pink accent-1"; %>
            <% break; %>
        <% case "Music": %>
            <% color="teal accent-4"; %>
            <% break; %>
        <% case "Geography": %>
            <% color="brown lighten-1"; %>
            <% break; %>
        <% case "History": %>
            <% color="blue lighten-2"; %>
            <% break %>
        <% case "Other": %>
            <% color="white"; %>
            <% break; %>
        <% } %>
    
        <div class="container col s12 l6">
            <div class="card <%=color%>">
                <div class="card-content">
                    <div class="row no-m">
                        <div class="col s9">
                            <div class="row no-m">
                                <div class="card-title"><%= h.subject %></div>
                            </div>
                            <div class="row no-m">
                                <h4 class="no-m"><%= h.title %></h4>
                            </div>
                        </div>
                        <div class="col s3">
                            <div class="row">
                                <a href="/schools/<%=school._id%>/classes/<%=clas._id%>/homework/<%=h._id%>" class="waves-effect waves-light btn col s12">More<i class="material-icons left">info_outline</i></a>
                            </div>
                            <div class="row no-m">
                                <p>until <%= h.date %></p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <% })%>
    </div>
</div>

<% include ../partials/footer %>