<% include ../partials/header %>

<div class="container margin-to-nav">
    <% include ../partials/flash %>
    <div class="card">
        <div class="row"></div>
        <form method="POST" action="/classes/<%=user.class_id%>/homework" id="form" >
            <div class="container">
                <div class="row no-m">
                    <div class="input-field col s12 m6">
                        <input name="homework[title]" id="homeworkTitle" type="text" class="validate" maxlength="40">
                        <label class="active" for="homeworkTitle"><%= texts.TITLE %></label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="homework[date]" id="homeworkDate" type="text" class="datepicker">
                        <label class="active" for="homeworkDate"><%= texts.DEADLINE %></label>
                    </div>
                    <div class="input-field col s12">
                        <select name="homework[subject]" id="homeworkSubject">
                            <option value="" disabled selected><%= texts.CHOOSE_SUBJECT %></option>
                            <% user.subjects.forEach(subject => { %>
                            <option value="<%= subject._id %>"><%= subject.subject %></option>
                            <% }) %>
                        </select>
                        <label><%= texts.SUBJECT %></label>
                    </div>
                    
                    <div class="input-field col s12">
                        <textarea name="homework[description]" id="homeworkDescription" class="materialize-textarea" maxlength="500"></textarea>
                        <label class="active" for="homeworkDescription"><%= texts.TASK %></label>
                    </div>
                </div>
            </div>
            
        </form>
        <div class="row center">
            <button class="app-color btn waves-effect waves-light" name="action" id="btn-submit"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
        </div>
        <div class="row"></div>
    </div>
</div>

<% include ../partials/footer %>