<% include ../partials/header %>

<div class="container">
    <% include ../partials/flash %>
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="col no-m"><%= h.title %></h3>
                <p id="show-date" class="col right">until <%=h.date%></p>
            </div>
            <p class="card-title"><%= h.description %></p>
            <hr>
            <div class="row"></div>
            <div class="row no-m">
                <div class="container col s4 m2">
                    <div class="row no-m">
                        <a href="/classes/<%=h.class_id%>/homework/<%=h.id%>/edit" class="waves-effect waves-light btn yellow accent-2 black-text col s10 push-s1">Edit<i class="material-icons left">create</i></a>
                    </div>
                </div>
                <div class="container col s4 m2">
                    <div class="row no-m">
                        <a class="red accent-4 waves-effect waves-light btn modal-trigger col s10 push-s1" href="#warning">Delete<i class="material-icons left">delete</i></a>
                    </div>
                </div>

                <div id="warning" class="modal">
                    <div class="modal-content">
                        <h5 class="s12 center">Are you sure you want to delete this homework?</h5>
                        <h6 class="s12 center">If you delete it you won't be able to restore it!</h6>
                    </div>
                    <form action="/classes/<%=h.class_id%>/homework/<%=h.id%>?_method=DELETE" method="POST">
                        <div class="modal-footer">
                            <a class="modal-action modal-close modal-button waves-effect waves-light btn grey lighten-2 black-text">Cancel</a>
                            <button class="waves-effect waves-light btn red accent-4">Delete</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
