<% let color, textColor %>
<% switch(r.subject) { case "Maths": %>
    <% color="blue"; textColor="white"; break; %>
    <% case "Language Arts": color="red"; textColor="white"; break; %>
    <% case "Foreign Language 1": color="yellow"; textColor="black"; break; %>
    <% case "Foreign Language 2": color="purple"; textColor="white"; break; %>
    <% case "Foreign Language 3": color="pink accent-2"; textColor="white"; break; %>
    <% case "Music": color="teal accent-4"; textColor="white"; break; %>
    <% case "History": color="indigo"; textColor="white"; break; %>
    <% case "Geography": color="brown"; textColor="white"; break; %>
    <% case "Biology": color="green"; textColor="white"; break; %>
    <% case "Physical Education": color="green accent-4"; textColor="white"; break; %>
    <% case "Politics": color="grey"; textColor="white"; break; %>
    <% case "Religion": color="amber"; textColor="white"; break; %>
    <% case "Philosophy": color="cyan"; textColor="white"; break; %>
    <% case "Ethics": color="light-blue"; textColor="white"; break; %>
    <% case "Physics": color="deep-purple"; textColor="white"; break; %>
    <% case "Science": color="blue-grey"; textColor="white"; break; %>
    <% case "Chemistry": color="deep-orange"; textColor="white"; break; %>
    <% case "Art": color="pink"; textColor="white"; break; %>
    <% case "Other": color="white"; textColor="black"; break; %>
<% } %>

<% include ../partials/header %>

<div class="container margin-to-nav">
    
    <% include ../partials/flash %>
    
    <div class="card <%= color %> <%=textColor%>-text">
        <div class="card-content">
            
            <div class="container">
                
                <div class="row">
                    <h4 class="no-m center-align"><%= r.title %></h4>
                </div>
                
                <p class="no-m flow-text"><%- r.description %></p>
                
                <div class="row"></div>
                <p class="divider"></p>
                <div class="row"></div>
                
                <% if(user.is_admin) { %>
                    <a href="/classes/<%=r.class_id%>/homework/<%=r.id%>/edit"><i class="left material-icons <%=textColor%>-text">create</i></a>
                    <a class="modal-trigger" href="#warning"><i class="left material-icons <%=textColor%>-text">delete</i></a>
                    
                    <div id="warning" class="modal black-text">
                        <div class="modal-content">
                            <h5 class="s12 center"><%= texts.DELETE_WARNING_HOMEWORK %></h5>
                            <h6 class="s12 center"><%= texts.DELETE_WARNING %></h6>
                        </div>
                        <form action="/classes/<%=r.class_id%>/homework/<%=r.id%>?_method=DELETE" method="POST">
                            <div class="modal-footer">
                                <a class="modal-action modal-close modal-button waves-effect waves-light btn grey lighten-2 black-text"><%= texts.CANCEL %></a>
                                <button class="waves-effect waves-light btn red accent-4"><%= texts.DELETE %></button>
                            </div>
                        </form>
                    </div>
                <% } %>
                
                <p class="col right s8 right-align"><%= texts.UNTIL %> <%=r.d%></p>
                
                <div class="card-margin-bot"></div>
                
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
