<% include ../partials/header %>

<div class="container margin-to-nav black-text">
    
    <% include ../partials/flash %>
    
    <div class="card <%= r.subject.color %> <%= r.subject.color == 'black' ? 'white-text' : '' %>">
        <div class="card-content">
            
            <div class="container">
                
                <div class="row">
                    <h4 class="no-m center-align"><%= r.title %></h4>
                </div>
                
                <h5 class="no-m"><%- r.description %></h5>
                
                <div class="row"></div>
                <p class="divider <%= r.subject.color == 'black' ? 'white' : 'black' %>"></p>
                <div class="row"></div>
                
                <% if(user.power > 0) { %>
                    <a href="/classes/<%=r.class_id%>/homework/<%=r.id%>/edit"><i class="left material-icons <%= r.subject.color == 'black' ? 'white-text' : 'black-text' %>">create</i></a>
                    <a class="modal-trigger" href="#warning"><i class="left material-icons <%= r.subject.color == 'black' ? 'white-text' : 'black-text' %>">delete</i></a>
                    
                    <div id="warning" class="modal black-text">
                        <div class="modal-content">
                            <h5 class="s12 center"><%= texts.DELETE_WARNING_HOMEWORK %></h5>
                            <h6 class="s12 center"><%= texts.DELETE_WARNING %></h6>
                        </div>
                        <form action="/classes/<%=r.class_id%>/homework/<%=r.id%>?_method=DELETE" method="POST">
                            <div class="modal-footer">
                                <a class="modal-action modal-close modal-button btn-flat"><%= texts.CANCEL %></a>
                                <button class="waves-effect waves-light btn red accent-4"><%= texts.DELETE %></button>
                            </div>
                        </form>
                    </div>
                <% } %>
                
                <p class="col right s8 right-align bold"><%= texts[r.day] %> <%=r.d%></p>
                <div class="card-margin-bot"></div>
                
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
