<% include ../partials/headerBasic %>
<div class="app-color full-height">
    <div class="container">
        <div class="row no-m">
            <div class="col s12 l8 push-l2">
                <div class="margin"></div>
                <% include ../partials/flash %>
                <div class="card">
                    <div class="card-content">
                        <h4 class="center"><%= texts.LOGIN %></h4>
                        <form action="/login" method="POST">
                            <div class="input-field">
                                <input id="username" name="username" type="text" class="validate" maxlength="15">
                                <label for="username"> <%= texts.USERNAME %> </label>
                            </div>
                            <div class="input-field">
                                <input id="password" name="password" type="password" class="validate">
                                <label for="password"> <%= texts.PASSWORD %> </label>
                            </div>
                            <div class="row center">
                                <button class="app-color waves-effect waves-light btn"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
                            </div>
                            <p class="center"><%= texts.DONT_HAVE_ACC %> <a href="/register"><%= texts.SIGNUP %></a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footerBasic %>