<% var selectedSchool; %>
<% include ../partials/headerBasic %>

<div class="app-color full-height">
    <div class="container">
        <div class="row no-m">
            <div class="col s12 l8 push-l2">
                <div class="margin"></div>
                <% include ../partials/flash %>
                <div class="card">
                    <div class="card-content">
                        <h4 class="center"><%= texts.SELECT_SCHOOL %></h4>
                        <form action="/selectSchool" method="POST">
                            
                            <div class="valign-wrapper">
                                <div class="input-field col s10">
                                    <select name="school" id="school">
                                        <option value="" disabled selected><%= texts.SELECT_SCHOOL %></option>
                                        <% results.forEach(school => { %>
                                            <option value="<%=school.name%>"><%=school.name%></option>
                                        <% }) %>
                                    </select>
                                    <label><%= texts.SCHOOL %></label>
                                </div>
                                <a class="col s2 app-color waves-effect waves-light btn modal-trigger" href="#modalAddSchool"><i class="material-icons">add</i></a>
                                
                                <div id="modalAddSchool" class="modal">
                                    <div class="modal-content center-align">
                                        <h4><%= texts.REGISTER_SCHOOL %></h4>
                                        <div class="row"></div>
                                        <p><%- texts.REGISTER_SCHOOL_TEXT %></p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="input-field col s12">
                                <input id="schoolPassword" name="schoolPassword" type="password" class="validate">
                                <label for="schoolPassword"><%= texts.SCHOOL_PASSWORD %></label>
                            </div>
                            
                            <div class="row no-m center">
                                <button class="app-color waves-effect waves-light btn"><%= texts.NEXT %><i class="material-icons right">navigate_next</i></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footerBasic %>
