<% include ../partials/header %>

<div class="container row no-m">


    <table class="bordered centered">
        <thead>
            <tr>
                <th><h6 class="bold no-m"><%= user.username %></h6></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><h6 class="bold"><%= texts.SCHOOL %>:</h6></td>
                <td><h6><%= userR.school_id.name %></h6></td>
                <td><h6><a class="btn app-color" href="/selectSchool"><%= texts.EDIT %><i class="material-icons right">edit</i></a></h6></td>
            </tr>
            <tr>
                <td><h6 class="bold"><%= texts.CLASS %>:</h6></td>
                <td><h6><%= userR.class_id.name %></h6></td>
                <td><h6><a class="btn app-color" href="/selectClass"><%= texts.EDIT %><i class="material-icons right">edit</i></a></h6></td>
            </tr>
            <tr>
                <td><h6 class="bold"><%= texts.LANGUAGE %>:</h6></td>
                <td><form action="#">
                    <p class="center-align">
                        <input <%=(lang=="en"?"checked":"")%> name="lang" type="radio" id="en" />
                        <label for="en"><%= texts.ENGLISH %></label>
                    </p>
                    <p class="center-align">
                        <input <%=(lang=="de"?"checked":"")%> name="lang" type="radio" id="de" />
                        <label for="de"><%= texts.GERMAN %></label>
                    </p>
                </form></td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <td></td>
            <td class="center"><button id="lang_submit" class="btn app-color waves-effect waves-light"><%= texts.SUBMIT %><i class="material-icons right">send</i></button></td>
            <td class="center"><a class="btn red waves-effect waves-light" href="/logout"><%= texts.LOGOUT %><i class="material-icons right">exit_to_app</i></a></td>
        </tfooter>

    </table>

</div>

<% include ../partials/footer %>
