<% let hPrevDate, ePrevDate %>

<!DOCTYPE html>
<html>
    <head>
        <title>Homework Web App</title>
        
        <!-- Icon -->
        <link rel="shortcut icon" href="/res/logo.png">
        
        <!-- Materialize -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <!-- main.css -->
        <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
        <!-- HelmholtzApp -->
        <% if(typeof hhsapp !== 'undefined') { %>
            <link rel="stylesheet" href="/stylesheets/hhsapp.css" type="text/css" />
        <% } %>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body id="no-mp">
        <div class="row" id="no-mp">

            <div class="navbar-fixed">
                <nav class="nav-extended">
                    <div class="col s12 l11 right" id="no-mp">
                        <div class="nav-wrapper app-color">
                            <div class="brand-logo center">
                                <img class="margin-logo logo responsive" src="/res/homework_title.png">
                            </div>

                            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

                        </div>
                        
                        <div class="nav content">

                            <ul id="tabs-swipe-demo" class="tabs app-color">
                                <div class="col l2"></div>
                                <li class="tab col s6 l4"><a id="tabHomework" class="active" href="#homework"><%= texts.HOMEWORK %></a></li>
                                <li class="tab col s6 l4"><a class="" href="#exams"><%= texts.EXAMS %></a></li>
                                <div class="col l2"></div>
                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
        </div>
        <ul id="slide-out" class="side-nav fixed">
            <li><div class="user-view">
            <div class="background">
                <img src="/res/slideNavBackground.jpg">
              </div>
              <a><img class="circle" src="<%= user.google_image ? user.google_image : '/res/logo.png' %>"></a>
              <a><span class="white-text name"><%=user.username ? user.username : user.google_username %></span></a>
              <a><span class="white-text email"><%=clas.school_id.name%><span class="right"><%=clas.name%><span></span></a>
            </div></li>
            

            <li><a class="collapsible-header" href="/accountSettings/"><i class="material-icons">settings</i><%= texts.ACCOUNT_SETTINGS %></a></li>

            <li><a class="collapsible-header" href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/"><i class="material-icons">settings</i><%= texts.CLASS_SETTINGS %></a></li>

            <li><div class="divider"></div></li>
            <li><a class="collapsible-header" href="/classes/<%=user.class_id%>/homework"><i class="material-icons">content_paste</i><%= texts.HOMEWORK %></a></li>
            <li><a class="collapsible-header" href="/classes/<%=user.class_id%>/exams"><i class="material-icons">library_books</i><%= texts.EXAMS %></a></li>
            <li><div class="divider"></div></li>

            <% if(user.power > 0) { %>

                <li><a class="collapsible-header" href="/classes/<%=user.class_id%>/homework/new"><i class="material-icons">note_add</i><%= texts.ADD_HOMEWORK %></a></li>
                <li><a class="collapsible-header" href="/classes/<%=user.class_id%>/exams/new"><i class="material-icons">library_add</i><%= texts.ADD_EXAM %></a></li>
                <li><div class="divider"></div></li>
            <% } %>

            <li><a class="collapsible-header" href="/about"><i class="material-icons">info</i><%= texts.ABOUT %></a></li>
        </ul>

        <div class="row no-m">
            <div class="col s12 l11 push-l1" id="body-home">


                <div class="container">
                    <div class="row no-m">
                        <div class="col s12">
                            <% include ./partials/flash %>
                        </div>
                        <div id="homework">
                            <% if(homework[0]) { %>
                            <% homework.forEach(h => {%>
                            
                            <% if(hPrevDate != h.d) { %>
                                <div class="col s12">
                                    <p class="no-margin-bottom bold grey-text"><%= texts.UNTIL %> <%=h.d%></p>
                                    <p class="divider home-divider"></p>
                                </div>
                            <% } %>
                            <% hPrevDate = h.d%>
                        
                            <div class="col s12 l6">
                                <a href="/classes/<%=h.class_id%>/homework/<%=h._id%>">
                                    <div class="card home-card <%=h.subject.color%> <%= h.subject.color == 'black' ? 'white-text' : 'black-text'%>">
                                        <div class="row no-m">
                                            <div class="col">
                                                <div class="row no-m">
                                                    <div class="card-title no-m card-subject"><%= h.subject.subject %></div>
                                                </div>
                                            </div>
                                            <div class="col right">
                                                <div class="row no-m">
                                                    <div class="card-title no-m card-teacher"><%= h.subject.teacher %></div>
                                                </div>
                                            </div>
                                        
                                            <div class="col s12">
                                                <div class="row no-m">
                                                    <h5 class="no-m"><%= h.title %></h5>
                                                </div>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </a>
                            </div> 
                            <% })%>
                            <% } %>
                        </div>
                        <div id="exams">
                            <% if(exams[0]) { %>
                            <% exams.forEach(e => { %>
                            
                            <% if(ePrevDate != e.d) { %>
                                <div class="col s12">
                                    <p class="no-margin-bottom bold grey-text"><%=e.d%></p>
                                    <p class="divider home-divider"></p>
                                </div>
                            <% } %>
                            <% ePrevDate = e.d%>
                    
                            <div class="col s12 l6">
                                <a href="/classes/<%=e.class_id%>/exams/<%=e._id%>">
                                    <div class="card <%= e.subject.color%> <%= e.subject.color == 'black' ? 'white-text' : 'black-text'%> black-text home-card">
                                        <div class="row no-m">
                                            <div class="col">
                                                <div class="row no-m">
                                                    <div class="card-title no-m card-subject"><%= e.subject.subject %></div>
                                                </div>
                                            </div>
                                            <div class="col right">
                                                <div class="row no-m">
                                                    <div class="card-title no-m card-teacher"><%= e.subject.teacher %></div>
                                                </div>
                                            </div>
                                            <div class="col s12">
                                                <div class="row no-m">
                                                    <h5 class="no-m"><%= e.title %></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <% }) %>
                            <% } %>
                        </div>
                        <% if(user.power > 0) { %>
                            <div class="bot">
                                <a id="redirectToAddPage" class="btn-floating btn-large app-color right"><i class="material-icons">add</i></a>
                            </div>
                        <% } %>
                    </div>
                </div>

<% include ./partials/footer %>