<% include ../partials/headerBasic %>
    <nav>
        <div class="nav-wrapper app-color">
            <div class="container">
                <ul class="left">
                    <li><a href="/about"><i class="medium material-icons left">info</i><%= texts.ABOUT %></a></li>
                    <li><a href="/addSchool"><i class="medium material-icons left">add</i><%= texts.ADD_SCHOOL %></a></li>
                    <li><a href="https://play.google.com/store/apps/details?id=com.hmwk.homework"><i class="medium material-icons left">file_download</i><%= texts.DOWNLOAD %></a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/login"><%= texts.LOGIN %></a><li>
                    <li><a href="/register"><%= texts.SIGNUP %></a></li>
                </ul>
            </div>
        </div>
    </nav>