<% include ../partials/headerBasic %>
<div class="blue-background">
    <div class="container">
        <div class="row no-m">
            <div class="col s12 l8 push-l2">
                <div class="margin"></div>
                <% include ../partials/flash %>
                <div class="card">
                    <div class="card-content">
                        <h4 class="center"><%= texts.ADD_SCHOOL %></h4>
                        <form action="/schools" method="POST">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="name" name="school[name]" type="text" class="validate" maxlength="30">
                                    <label for="name"><%= texts.NAME %></label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="password" name="school[password]" type="password" class="validate">
                                    <label for="password"><%= texts.PASSWORD %></label>
                                </div>
                                <div class="input-field col s12">
                                    <input id="reenterPassword" name="reenterPassword" type="password" class="validate" maxlength="100">
                                    <label for="reenterPassword"><%= texts.REENTER_PASSWORD %></label>
                                </div>
                            </div>
                            <div class="row">
                                <button class="blue col s6 push-s3 m4 push-m4 l2 push-l5 waves-effect waves-light btn"><%= texts.SUBMIT %></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/footerBasic %>