<% include ../partials/header %>

<div class="container margin-to-nav">
    <% include ../partials/flash %>
    <div class="card">
        <form method="POST" action="/classes/<%=r.class_id%>/exams/<%=r._id%>?_method=PUT" id="form">
            <div class="row"></div>
                <div class="container">
                    <div class="row no-m">
                        <div class="input-field col s12 m6">
                            <input name="exam[title]" id="homeworkTitle" type="text" class="validate" value="<%=r.title%>" maxlength="40">
                            <label class="active" for="homeworkTitle"><%= texts.TITLE %></label>
                        </div>
                        <div class="input-field col s12 m6">
                            <input name="exam[date]" id="homeworkDate" type="text" class="datepicker" value="<%=r.d%>">
                            <label class="active" for="homeworkDate"><%= texts.DATE %></label>
                        </div>
                        <div class="input-field col s12">
                            <select name="exam[subject]" id="homeworkSubject">
                                <option value="<%= r.subject._id %>" selected><%= r.subject.subject %></option>
                                <% user.subjects.forEach(subject => { %>
                                    <% if(!subject._id.equals(r.subject._id)) { %>
                                    <option value="<%= subject._id %>"><%= subject.subject %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                            <label><%= texts.SUBJECT %></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="container">
                    <div class="row no-m" id="topicForm">
                        <div class="valign-wrapper">
                            <p class="card-title col s6 l8"><%= texts.TOPICS %></p>
                        
                            <div class="container right-align col s3 l2">
                                <a id="btnAddContainer" class="center-align app-color btn waves-effect waves-light"><i class="material-icons center">add</i></a>
                            </div>
                            <div class="container center-align col s3 l2">
                                <a id="btnRemoveContainer" class="red center-align btn waves-effect waves-light"><i class="material-icons center">close</i></a>
                            </div>
                        </div>
                        
                        <% r.topics.forEach(t => { %>
                        <div id="container">
                            <div class="input-field col s6">
                                <input name="topics[topic]" id="examTopic" type="text" class="validate" value="<%=t.topic%>" maxlength="30">
                                <label class="active" for="examTopic"><%= texts.TOPIC %></label>
                            </div>
                            <div class="input-field col s6">
                                <input name="topics[learn]" id="examLearn" type="text" class="validate"value="<%=t.learn%>" maxlength="20">
                                <label class="active" for="examLearn"><%= texts.LEARN %></label>
                            </div>
                        </div>
                        <% }) %>
                        <% for(let i = 0; i < (10 - r.topics.length); i++) {%>
                            <div id="container" class="hide">
                                <div class="input-field col s6">
                                    <input name="topics[topic]" id="examTopic" type="text" class="validate" maxlength="30">
                                    <label class="active" for="examTopic"><%= texts.TOPIC %></label>
                                </div>
                                <div class="input-field col s6">
                                    <input name="topics[learn]" id="examLearn" type="text" class="validate" maxlength="20">
                                    <label class="active" for="examLearn"><%= texts.LEARN %></label>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
            </form>
        <div class="row center">
            <button class="btn blue waves-effect waves-light" name="action" id="btn-submit" onclick="formConfig()"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
        </div>
        <div class="row"></div>
    </div>
</div>

<% include ../partials/footer %>