<% include ../partials/header %>

<div class="container">
    <% include ../partials/flash %>
    <div class="card">
        <form method="POST" action="/classes/<%=user.class_id%>/exams" id="form">
            <div class="row"></div>
            <div class="container">
                <div class="row no-m">
                    <div class="input-field col s12 m6">
                        <input name="exam[title]" id="homeworkTitle" type="text" class="validate" maxlength="40">
                        <label class="active" for="homeworkTitle"><%= texts.TITLE %></label>
                    </div>
                    <div class="input-field col s12 m6">
                        <input name="exam[date]" id="homeworkDate" type="text" class="datepicker">
                        <label class="active" for="homeworkDate"><%= texts.DATE %></label>
                    </div>
                    <div class="input-field col s8">
                        <select name="exam[subject]" id="homeworkSubject">
                            <option value="" disabled selected><%= texts.CHOOSE_SUBJECT %></option>
                            <option value="Maths"><%= texts.Maths %></option>
                            <option value="Language Arts"><%= texts["Language Arts"] %></option>
                            <option value="Foreign Language 1"><%= texts["Foreign Language 1"] %></option>
                            <option value="Foreign Language 2"><%= texts["Foreign Language 2"] %></option>
                            <option value="Foreign Language 3"><%= texts["Foreign Language 3"] %></option>
                            <option value="Physics"><%= texts.Physics %></option>
                            <option value="Politics"><%= texts.Politics %></option>
                            <option value="Science"><%= texts.Science %></option>
                            <option value="Art"><%= texts.Art %></option>
                            <option value="Music"><%= texts.Music %></option>
                            <option value="Geography"><%= texts.Geography %></option>
                            <option value="History"><%= texts.History %></option>
                            <option value="Biology"><%= texts.Biology %></option>
                            <option value="Physical Education"><%= texts["Physical Education"] %></option>
                            <option value="Philosophy"><%= texts.Philosophy %></option>
                            <option value="Ethics"><%= texts.Ethics %></option>
                            <option value="Chemistry"><%= texts.Chemistry %></option>
                            <option value="Religion"><%= texts.Religion %></option>
                            <option value="Other"><%= texts.Other %></option>
                        </select>
                        <label><%= texts.SUBJECT %></label>
                    </div>
                    <div class="input-field col s4">
                        <input disabled value=" " name="exam[subjectName]" id="subjectName" type="text" class="validate">
                        <label for="disabled"><%= texts.SUBJECT_NAME %></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="container">
                <div class="row no-m" id="topicForm">
                    <div class="row"></div>
                    <p class="card-title col s4 l8"><%= texts.TOPICS %></p>
                    
                    <div class="col s4 l2 row no-m">
                        <div class="container center-align col s12">
                            <a onclick="addTopic()" class="center-align btn-floating btn-large waves-effect waves-light"><i class="material-icons">add</i></a>
                        </div>
                        <p class="col s12 center-align center"><%= texts.ADD_TOPIC %></p>
                    </div>
                    <div class="col s4 l2 row no-m">
                        <div class="container center-align col s12">
                            <a onclick="removeTopic()" class="red center-align btn-floating btn-large waves-effect waves-light"><i class="material-icons">close</i></a>
                        </div>
                        <p class="col s12 center-align center"><%= texts.REMOVE_TOPIC %></p>
                    </div>
                    <div class="row"></div>
                    
                    <div id="topicContainer">
                        <div class="input-field col s7">
                            <input name="topics[topic]" id="examTopic" type="text" class="validate" maxlength="30">
                            <label class="active" for="examTopic"><%= texts.TOPIC %></label>
                        </div>
                        <div class="input-field col s5">
                            <input name="topics[learn]" id="examLearn" type="text" class="validate" maxlength="20">
                            <label class="active" for="examLearn"><%= texts.LEARN %></label>
                        </div>
                    </div>
                </div>
                
            </div>
        </form>
        <div class="row center">
            <button class="btn blue waves-effect waves-light" name="action" id="btn-submit" onclick="formConfig()"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
        </div>
        <div class="row"></div>
    </div>
</div>

<% include ../partials/footer %>