<% include ../partials/header %>

<div class="container">
    <% include ../partials/flash %>
    <div class="card">
        <div class="card-content">
            <div class="row">
                <h3 class="col no-m"><%= e.title %></h3>
                <p id="show-date" class="col right"><%=e.date%></p>
            </div>

            <div class="row no-m">
                <h5 class="col s8">Topics</h5>
                <h5 class="col s4 right-align">Where to learn</h5>
            </div>
            <hr>
            <hr>
            <% topics.forEach(t => {%>
            <div class="row no-m">
                <h6 class="col s8"><%=t.topic%></h6>
                <p class="col s4 margin-t right-align"><%=t.learn%><p>
            </div>
            <hr>
            <% }); %>

            <div class="row"></div>
            <div class="row no-m">
                <div class="container col s4 m2">
                    <div class="row no-m">
                        <a href="/classes/<%=e.class_id%>/exams/<%=e.exam_id%>/edit" class="waves-effect waves-light btn yellow accent-2 black-text col s10 push-s1">Edit<i class="material-icons left">create</i></a>
                    </div>
                </div>
                <div class="container col s4 m2">
                    <div class="row no-m">
                        <a class="red accent-4 waves-effect waves-light btn modal-trigger col s10 push-s1" href="#warning">Delete<i class="material-icons left">delete</i></a>
                    </div>
                </div>

                <div id="warning" class="modal">
                    <div class="modal-content">
                        <h5 class="s12 center">Are you sure you want to delete this exam?</h5>
                        <h6 class="s12 center">If you delete it you won't be able to restore it!</h6>
                    </div>
                    <form action="/classes/<%=e.class_id%>/exams/<%=e.exam_id%>?_method=DELETE" method="POST">
                        <div class="modal-footer">
                            <a class="modal-action modal-close modal-button waves-effect waves-light btn grey lighten-2 black-text">Cancel</a>
                            <button class="waves-effect waves-light btn red accent-4">Delete</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
