<% include ../partials/header %>

<div class="container row no-m">
    <% include ../partials/flash %>
</div>

<div class="container row no-m valign-wrapper">
    <h4 class="col"><%= clas.name %></h4>
    <% if(user.power == 2) {%>
    <div class="col s6 l8">
        <a href="#change-name" class="btn blue waves-light right modal-trigger"><%= texts.CHANGE_NAME %><i class="material-icons right">edit</i></a>
        
        
        <div id="change-name" class="modal">
            <form action="/schools/<%=user.school_id%>/classes/<%=user.class_id%>?_method=PUT" method="POST">
                <div class="modal-content no-p-bot">
                    <h4><%= texts.CHANGE_NAME %></h4>
                    <div class="row"></div>
                    <div class="input-field">
                        <input id="name" name="class[name]" type="text" class="validate" value="<%=clas.name%>" maxlength="10">
                        <label for="name"><%= texts.NAME %></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn white black-text">Cancel</a>
                    <button class="blue waves-effect waves-light btn"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>
    
<div class="container">
    <p class="divider"></p>
    <table class="bordered">
        <thead>
            <tr>
                <th>
                    <div class="row no-m">
                        <h6 class="col bold no-m"><%= texts.MEMBERS %></h6>
                        <a class="modal-trigger" href="#userPermissionsInfo"><i class="col grey-text material-icons right">info_outline</i></a>
                        
                        <div id="userPermissionsInfo" class="modal">
                            <img src="/res/user_permissions.png" class="responsive">
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
        <% users.forEach((u) => { %>
            <tr>
    
                <td class="left cell">
                    <% if(u.username == user.username) {%>
                        <h6 class="blue-text"><%= texts.YOU %></divh6>
                    <% } else { %>
                        <h6><%= u.username %></h6>
                    <% } %>
                </td>
                
                <%if(user.power == 2) {%>
                    <td class="small-cell right">
                        
                        <a class="modal-trigger" href="#more-<%= u.username %>"><i class="material-icons grey-text text-darken-1 right">more_vert</i></a>
                        
                        <!-- Modal Structure -->
                        <div id="more-<%= u.username %>" class="modal">
                            <div class="container center">
                                <div class="modal-content">
                                    <% if(u.power == 2) { %>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/deadmin" class="waves-effect waves-blue btn-flat"><%= texts.REMOVE_ADMIN %></a>
                                        <p class="divider"></p>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/restrict" class="waves-effect waves-blue btn-flat"><%= texts.MAKE_RESTRICTED %></a>
                                        <p class="divider"></p>
                                    <% } else if(u.power == 0) { %>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/derestrict" class="waves-effect waves-blue btn-flat"><%= texts.REMOVE_RESTRICTED %></a>
                                        <p class="divider"></p>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/admin" class="waves-effect waves-blue btn-flat"><%= texts.MAKE_ADMIN %></a>
                                        <p class="divider"></p>
                                    <% } else {%>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/admin" class="waves-effect waves-blue btn-flat"><%= texts.MAKE_ADMIN %></a>
                                        <p class="divider"></p>
                                        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/restrict" class="waves-effect waves-blue btn-flat"><%= texts.MAKE_RESTRICTED %></a>
                                        <p class="divider"></p>
                                    <% } %>
                                    <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/kick" class="waves-effect waves-blue btn-flat"><%= texts.KICK %></a>
                                </div>
                            </div>
                            
                        </div>
                    </td>
                <% } %>
                
                <td class="right cell">
                    <% if(u.power == 2) { %>
                        <h6 class="green-text green-box">Admin</h6>
                    <% } else if(u.power == 0) { %>
                        <h6 class="red-text red-box"><%= texts.RESTRICTED_MEMBER %></h6>
                    <% } else { %>
                        <h6 class="yellow-text text-darken-3 yellow-box"><%= texts.CLASSMATE %></h6>
                    <% } %>
                </td>
                
                
                
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>