<% include ../partials/header %>

<div class="container row no-m">
    <% include ../partials/flash %>
</div>

<div class="container row no-m valign-wrapper">
    <h4 class="col"><%= clas.name %></h4>
    <% if(user.power == 2) {%>
    <div class="col s6 l8">
        <a href="#change-name" class="btn app-color waves-light right modal-trigger"><%= texts.CHANGE_NAME %><i class="material-icons right">edit</i></a>
        
        
        <div id="change-name" class="modal">
            <form action="/schools/<%=user.school_id%>/classes/<%=user.class_id%>?_method=PUT" method="POST">
                <div class="modal-content no-p-bot">
                    <h4><%= texts.CHANGE_NAME %></h4>
                    <div class="row"></div>
                    <div class="input-field">
                        <input id="name" name="class[name]" type="text" class="validate" value="<%=clas.name%>" maxlength="10">
                        <label for="name"><%= texts.NAME %></label>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="#!" class="modal-action modal-close waves-effect waves-green btn white black-text">Cancel</a>
                    <button class="app-color waves-effect waves-light btn"><%= texts.SUBMIT %><i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
    </div>
    <% } %>
</div>
    
<div class="container">
    <p class="divider"></p>
    <table class="bordered">
        <thead>
            <tr>
                <th>
                    <div class="row no-m">
                        <h6 class="col bold no-m"><%= texts.MEMBERS %></h6>
                        <a class="modal-trigger" href="#userPermissionsInfo"><i class="col grey-text material-icons right">info_outline</i></a>
                        
                        <div id="userPermissionsInfo" class="modal">
                            <img src="/res/user_permissions.png" class="responsive">
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        
        <tbody>
        <% users.forEach((u) => { %>
    
                <td class="left cell">
                    <% if(u._id == user._id) {%>
                        <h6 class="blue-text"><%= texts.YOU %></divh6>
                    <% } else { %>
                        <h6><%= u.username ? u.username : u.google_username %></h6>
                    <% } %>
                </td>
                
                <%if(user.power == 2) {%>
                    <td class="small-cell right">
                        
                        <a class="modal-trigger" href="#more-<%= u._id %>"><i class="material-icons grey-text text-darken-1 right">more_vert</i></a>
                        
                        <div id="more-<%= u._id %>" class="modal">
                            <div class="modal-content container center">
                                
                                <h5><%= texts.ROLE%></h5>
                            
                                <div class="col s12 l4 valign-wrapper m-bot">
                                    <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/restrict" class="auto">
                                        <h6 class="red-text red-box <%= u.power == 0 ? 'active' : '' %>"><%= texts.RESTRICTED_MEMBER %></h6>
                                    </a>
                                </div>
                                <div class="col s12 l4 valign-wrapper m-bot">
                                    <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/member" class="auto">
                                        <h6 class="yellow-text text-darken-3 yellow-box <%= u.power == 1 ? 'active' : '' %>"><%= texts.CLASSMATE %></h6>
                                    </a>
                                </div>
                                <div class="col s12 l4 valign-wrapper m-bot">
                                    <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/admin" class="auto">
                                        <h6 class="green-text green-box <%= u.power == 2 ? 'active' : '' %>">Admin</h6>
                                    </a>
                                </div>
                                <p><br></p>
                                
                            </div>
                            <div class="modal-footer">
                                <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/users/<%=u._id%>/kick" class="btn red waves-effect waves-red"><%= texts.KICK %></a>
                                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat"><%= texts.CANCEL %></a>
                            </div>
                        </div>
                    </td>
                <% } %>
                
                <td class="right cell">
                    <% if(u.power == 2) { %>
                        <h6 class="green-text green-box">Admin</h6>
                    <% } else if(u.power == 0) { %>
                        <h6 class="red-text red-box"><%= texts.RESTRICTED_MEMBER %></h6>
                    <% } else { %>
                        <h6 class="yellow-text text-darken-3 yellow-box"><%= texts.CLASSMATE %></h6>
                    <% } %>
                </td>
                
                
                
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>

<% include ../partials/footer %>