<% include ../partials/header %>
<% const r = results[0] %>

<div class="container row no-m">
    <% include ../partials/flash %>
    <h4 class="col s6 header"><%= r.class_name %></h4>
    <div class="col s6 right-align">
        <a href="/schools/<%=user.school_id%>/classes/<%=user.class_id%>/edit" class="btn blue waves-light margin-t2"><%= texts.EDIT %></a>
    </div>

</div>
    <hr class="row">
<div class="container">
    <table>
        <tr class="row">
            <th class="col s12"><h5 class="bold"><%= texts.MEMBERS %></h5></th>
        </tr>

        <% results.forEach((m) => { %>
            <tr class="row no-m">

                <td class="col s7 l10">
                    <% if(m.username == user.username) {%>
                        <h5 class="blue-text"><%= texts.YOU %></h5>
                    <% } else { %>
                        <h5><%= m.username %></h5>
                    <% } %></h5>

                    <% if(m.is_admin) { %>
                        <h5 class="green-text">Admin</h5>
                    <% } else { %>
                        <h5 class="yellow-text text-darken-3"><%= texts.CLASSMATE %></h5>
                    <% } %>
                </td>

                <td class="col s5 l2 center-align">
                    <a href="/schools/<%=m.school_id%>/classes/<%=m.class_id%>/users/<%=m.id%>/kick" class="btn red waves-light margin-t2"><%= texts.KICK %></a>

                    <% if(!m.is_admin) { %>
                        <a href="/schools/<%=m.school_id%>/classes/<%=m.class_id%>/users/<%=m.id%>/admin" class="btn green waves-light margin-t col s12"><%= texts.MAKE_ADMIN %></a>
                    <% } else { %>
                        <a href="/schools/<%=m.school_id%>/classes/<%=m.class_id%>/users/<%=m.id%>/deadmin" class="btn yellow black-text waves-light margin-t col s12"><%= texts.REMOVE_ADMIN %></a>
                    <% } %>
                </td>
            </tr>
        <% }); %>
    </table>
</div>

<% include ../partials/footer %>
